# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

// <div>
{
  /* <div */
}
// style={{ display: "flex", justifyContent: "center", marginTop: "2rem" }}
// >
{
  /* <Title level={2}> */
}
{
  /* CHAT BOT APP&nbsp; */
}
{
  /* <Icon type="robot" /> */
}
{
  /* </Title> */
}
{
  /* </div> */
}
{
  /* <div style={{ display: "flex", justifyContent: "center" }}> */
}
{
  /* <Chatbot /> */
}
{
  /* </div> */
}
{
  /* </div> */
}
